*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  line-height: 2.5rem;
  background-color: #090b1a;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.heading-1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
  line-height: 4.4rem; }
  .heading-1__highlight {
    color: #aa5cdb; }

.heading-2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: white; }

.heading-3 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Lexend Deca', sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  letter-spacing: 1px; }

.card {
  max-width: 110rem;
  max-height: 45rem;
  background-color: #1b1938;
  border-radius: 0.8rem;
  display: grid;
  grid-auto-flow: column;
  align-items: center; }
  .card__content {
    padding: 0 7rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 4rem;
    grid-row: 1 / -1;
    grid-column: 1 / span 1; }
  .card__stats {
    display: flex;
    justify-content: space-between;
    align-self: end; }
  .card__picture {
    grid-row: 1 / -1;
    grid-column: 2 / span 1; }
  .card__picture-overlay {
    width: 54rem;
    height: 44.6rem;
    position: absolute;
    border-radius: 0 0.8rem 0.8rem 0; }
    .card__picture-overlay--light {
      background-color: rgba(170, 92, 219, 0.75);
      z-index: 2; }
    .card__picture-overlay--dark {
      background-color: rgba(27, 25, 56, 0.25);
      z-index: 3; }
  .card__img {
    display: block;
    filter: contrast(130%) brightness(100%);
    border-radius: 0 0.8rem 0.8rem 0; }
