$color-background-main: hsl(233, 47%, 7%);
$color-background-card: hsl(244, 38%, 16%);
$color-accent: hsl(277, 64%, 61%);

$color-text-main: hsl(0, 0%, 100%);
$color-text-paragraph: hsla(0, 0%, 100%, 0.75);
$color-text-headings: hsla(0, 0%, 100%, 0.6);

$bp-large: 75em;        // 1200px
$bp-medium: 60em;       // 960px
$bp-small:  55em;       // 880px
$bp-smallest:  45em;    // 720px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: $color-background-main;
    height: 100vh;

    display: grid;
    justify-content: center;
    align-items: center;
}
