@use "base";

.heading-1 {
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 4.4rem;
    color: base.$color-text-main;

    &__highlight {
        color: base.$color-accent;
    }

    @media only screen and (max-width: base.$bp-xl) {
        font-size: 2.6rem;
        line-height: 3.6rem;
    }

    @media only screen and (max-width: base.$bp-l) {
        font-size: 2.4rem;
        line-height: 3.2rem;
    }

    @media only screen and (max-width: base.$bp-m) {
        font-size: 2rem;
        line-height: 3rem;
    }

    @media only screen and (max-width: base.$bp-s) {
        font-size: 1.8rem;
        line-height: 2.6rem;
    }

    @media only screen and (max-width: base.$bp-xs) {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}

.heading-2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: base.$color-text-main;

    @media only screen and (max-width: base.$bp-xl) {
        font-size: 2.2rem;
    }

    @media only screen and (max-width: base.$bp-l) {
        font-size: 2rem;
    }

    @media only screen and (max-width: base.$bp-m) {
        font-size: 1.7rem;
    }

    @media only screen and (max-width: base.$bp-s) {
        font-size: 1.5rem;
    }

    @media only screen and (max-width: base.$bp-xs) {
        font-size: 1.4rem;
    }
}

.heading-3 {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Lexend Deca', sans-serif;
    color: base.$color-text-headings;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    @media only screen and (max-width: base.$bp-m) {
        font-size: 1.1rem;
        line-height: 1.6rem;
    }

    @media only screen and (max-width: base.$bp-s) {
        font-size: 1rem;
    }

    @media only screen and (max-width: base.$bp-xs) {
        font-size: 0.8rem;
    }
}

p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: base.$color-text-paragraph;

    @media only screen and (max-width: base.$bp-l) {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    @media only screen and (max-width: base.$bp-s) {
        font-size: 1.2em;
        line-height: 1.8rem;
    }

    @media only screen and (max-width: base.$bp-s) {
        font-size: 1.1em;
        line-height: 1.8rem;
    }
}